.colapsed-user-modules{
    height: 0;
    visibility: collapse;
    padding: 0;
}

.colapsed-user-header{
    border-bottom: 0!important;
}

.user-header{
    padding: 0.5rem!important;
    margin: 0!important;
    padding-left: 1rem!important;
    padding-right: 1rem!important;
    /* border-bottom: 1px solid #dee2e6!important; */
    display: flex!important;
    justify-content: space-between!important;
    background-color: white;
  }