.form-section{
    margin-top: 15px;
    background: white;
    padding: 20px;
    position: relative;
    border-radius: 6px;
    border: 1.5px solid transparent;
    transition: all .25s ease-in;
    scroll-margin-top: 50px;
}

.form-section-title{
    font-size: 16px;
}


.form-with-menu{
    width: calc(100% - 250px);
}

.form-without-menu{
    width: 100%;
}

.menu-on{
    width: 250px;
}

.menu-off{
    width: 0;
}

.form-navigation-item.active {
    font-weight: 600;
    color: black;
}

.form-navigation-item:hover{
    background-color: white;
}

.form-navigation{
    position: fixed;
    padding: 20px;
    list-style-type: none;
}

.form-navigation-item{
    font-family: "Open Sans",sans-serif;
    margin-bottom: 3px;
    font-size: 15px;
    cursor: pointer;
    padding: 8px 20px;
    border-radius: 6px;
    font-weight: 600;
    letter-spacing: -0.5px;
    min-width: 200px;
    transition: all .1s ease-in;
    color: #858587;
}






.dropbtn {
    background-color: #04AA6D;
    color: white;
    /* padding: 16px; */
    font-size: 16px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    max-height: 500px;
    overflow: scroll;
  }
  

  
  /* .dropdown:hover .dropdown-content {display: block;} */
  
  .dropdown:hover .dropbtn {background-color: #3e8e41;}

  .item:hover{
    cursor: pointer;
  }

  .dropdown-row:hover{
    background-color: lightgray;
    cursor: pointer;
  }

  .dropdown-row{
    background-color: white;
  }

  .dropdown-selectedrow{
    background-color: rgb(203, 242, 103);
  }